{% if section.settings.enable_section %}
<section class="section-wrapper section-spacing">
  {% assign localName = request.locale.name | handle %}
  <div class="page-width">
    <div class="section-header text-center">
      {% if section.settings.sub_title != blank %}
      <span class="sub-title">{{ section.settings.sub_title }}</span>
      {% endif %}
      {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
      <div class="text">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.btn_label and section.settings.btn_link != blank %}
      <a {% if localName == 'english' %}href="{{ section.settings.btn_link }}"{% else %}href="{{ section.settings.btn_linkJA }}"{% endif %} class="btn" target="_blank" download>{{ section.settings.btn_label }}</a>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Option 2",
	"class": "rsg-option option-2",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable section",
        "default": true
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Printable PDF guide on how to measure your ring size at home"
      },
	  {
        "type": "text",
        "id": "sub_title",
        "label": "Sub title",
        "default": "Option 2"
      },
	  {
        "type": "richtext",
        "id": "text",
        "label": "Text",
		"default": "<p>If you’re still unsure about how to know your ring size, download the printable size guide for more options that give you a step by step process on how to calculate the correct ring size.</p>"
      },
	  {
        "type": "text",
        "id": "btn_label",
        "label": "Button label",
        "default": "Download PDF"
      },
	  {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      },
	  {
		"type": "url",
		"id": "btn_linkJA",
		"label": "Button link JA"
	  }
	]
  }
{% endschema %}