<div class="maindiv">
  <a href="#LoginModal" class="js-modal-open-login-modal link--action login-link" aria-haspopup="dialog">
    ENTER WITH PASSWORD
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><defs><style>.a,.b{fill:none;}.b{stroke:#fff;stroke-width:1.5px;}</style></defs><g transform="translate(0 -0.393)"><rect class="a" width="28" height="28" transform="translate(0 0.393)"/><g transform="translate(5.001 6)"><path class="b" d="M5.487,6.66l7.356,7.356L5.149,21.711" transform="translate(5.874 -6.66)"/><path class="b" d="M5.526,13.837H23.867" transform="translate(-5.526 -6.66)"/></g></g></svg>
  </a>

  <div class="middlecontent">
    <div class="container">
      <div class="comingsoonsec">
        <img src="https://cdn.shopify.com/s/files/1/0465/8787/1396/files/Group_26865_2x_a6936f06-fdfa-4c17-921f-52eb1a7dec22_225x.png?v=1598711012">
        <h3 class="comingtitle">coming soon</h3>
        <span class="datecontent">11.05.2020</span>
        <ul class="timersec">
          <li><span class="timer days">00</span><span class="timercontent">Days</span></li>
          <li><span class="timer hours">00</span><span class="timercontent">hours</span></li>
          <li><span class="timer minutes">00</span><span class="timercontent">minutes</span></li>
          <li><span class="timer seconds">00</span><span class="timercontent">seconds</span></li>
        </ul>
        <div class="clear"></div>
        <p class="timertext">Sign up today and join the <i>Star Wars™️ </i> Fine Jewelry community</p>
        
        {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
        {%- assign formId = 'PasswordNewsletterForm' -%}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="{{ formId }}-email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>

        {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
          {{ 'general.password_page.signup_form_success' | t }}
        </p>
        {%- endif -%}

        <div class="emailinputdiv">
          <input
                 type="email"
                 name="contact[email]"
                  class="emailinputfield {% if form.errors contains 'email' %} input--error{% endif %}" 
                 id="emailinput" placeholder="Enter email address"
                 placeholder="{{ section.settings.newsletter_placeholder | escape }}"
                 {%- if form.errors contains 'email' -%}
                 aria-invalid="true"
                 
                 aria-describedby="{{ formId }}-email-error"
                 data-form-status
                 {%- endif -%}
                 >
          <button type="submit" class="submitbtn">submit</button>
        </div>
        
        {%- if form.errors contains 'email' -%}
        <span id="{{ formId }}-email-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          {% include 'icon-error' %}
          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
        {%- endif -%}

        {% endform %}
      </div>
    </div>
  </div>
</div>


<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Nov 5, 2020 20:30:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    if(days<10){
    	days = '0'+days;
    }
    if(hours<10){
    	hours = '0'+hours;
    }
    if(minutes<10){
    	minutes = '0'+minutes;
    }
    if(seconds<10){
    	seconds = '0'+seconds;
    }
    $('.timer.days').text(days);
    $('.timer.hours').text(hours);
    $('.timer.minutes').text(minutes);
    $('.timer.seconds').text(seconds);
    
    // Display the result in the element with id="demo"
//     document.getElementById("demo").innerHTML = days + "d " + hours + "h "
//     + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>