<div class="page-width">
  <div class="sw__about-content">
    <div class="content-left">
      {% unless section.settings.image == nil %}
      <img class="lazyload"
      src="{{ section.settings.image | img_url: '225x' }}"
      data-src="{{ section.settings.image | img_url: '225x' }}"
      data-sizes="auto"
      alt="" />
      {% endunless %}
    </div>
    <div class="content-right">
      {% unless section.settings.title == blank %}
      <h2>{{ section.settings.title }}</h2>
      {% endunless %}
      {% unless section.settings.paragraph == blank %}
      {{ section.settings.paragraph }}
      {% endunless %}
      {% unless section.settings.button_label == blank %}
      {% unless section.settings.button_url == blank %}
      <a href="{{ section.settings.button_url }}/" class="btn_style2">{{ section.settings.button_label }}{% include 'icon-r-arrow' %}</a>
      {% endunless %}
      {% endunless %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Content Section",
  "class": "index-section index_about-section",
  "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image",
    "info": "Recommended size 454x263 (px)"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Title"
  },
  {
    "type": "richtext",
    "id": "paragraph",
    "label": "Paragraph",
    "default": "<p>Paragraph</p>"
  },
  {
    "type": "text",
    "id": "button_label",
    "label": "Button Label",
    "default": "Shop Now"
  },
  {
    "type": "url",
    "id": "button_url",
    "label": "Button URL"
  }
  ],
  "presets": [
  {
    "name": "About Content Section",
    "category": "Advanced layout"
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
