{% unless section.settings.hide_section == true %}
  <section class="sw__category_slider">
    <div class="page-width">
      {% unless section.settings.section_title == blank or section.settings.section_subtitle == blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.section_title }}</h2>
        {% unless section.settings.section_subtitle == blank %}
        <h5>{{ section.settings.section_subtitle }}</h5>
        {% endunless %}
      </div>
      {% endunless %}
      <div class="category_slider">
        {% for block in section.blocks %}
          <div class="starwars-category">
            {% unless block.settings.category_image == nil %}
              <img src="{{ block.settings.category_image | img_url: "x260" }}" />
            {% endunless %}
            {% unless block.settings.title == blank %}
              <h4>{{ block.settings.title }}</h4>
            {% endunless %}
            {% unless block.settings.button_text == blank %}
              {% unless block.settings.button-url == blank %}
                <a href="{{ block.settings.button-url }}/" class="btn btn_secondary">{{ block.settings.button_text }}</a>
              {% endunless %}
            {% endunless %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endunless %}

{% schema %}
  {
    "name": "Category Slider",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_section",
        "label": "Hide Section",
        "default": false
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Title",
        "default": "Choose your side"
      },
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Subtitle",
        "default": "Choose your side"
      }
	],
	"blocks": [
      {
        "type": "starwars-category",
        "name": "Category",
        "settings": [
          {
            "type": "image_picker",
            "id": "category_image",
            "label": "Category Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Category Title",
            "default": "Category Title"
          },
		  {
            "type": "text",
            "id": "button_text",
            "label": "Button",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "button-url",
            "label": "Button URL"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
