<section class="explore_blog__section">
  <div class="page-width">
    {% for link in linklists.blog-category.links %}
    {% assign featuredBlogs = link.handle | sort: "date" %}
    {%- for featuredBlog in featuredBlogs -%}
    {%- if blogs[featuredBlog].articles -%}
    {%- if featuredArticles != blank -%}
    {% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
    {%- else -%}
    {% assign featuredArticles = blogs[featuredBlog].articles | sort: "date" %}
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
    {% endfor %}
    <div class="explore-header">
      {% unless section.settings.title == blank %}
      <h2 class="explore__heading">{{ section.settings.title }}</h2>
      {% endunless %}
      {% unless section.settings.subtitle == blank %}
      <p class="explore_subtitle">{{ section.settings.subtitle }}</p>
      {% endunless %}
    </div>
    {%- if featuredArticles -%}
    <ul class="grid grid--uniform">
      {% for article in featuredArticles limit: 6 %}
      <li class="grid__item medium-up--one-third image-text">
        {% if article.image %}
        {% capture img_id %}ExploreArticleImage-{{ article.image.id }}{% endcapture %}
        {% capture img_wrapper_id %}ExploreArticleImageWrapper-{{ article.image.id }}{% endcapture %}
        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
        {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}    
        
        <div id="{{ img_wrapper_id }}" class="article__image-wrapper js small--hide">
          <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" class="article__list-image-container">
            <img id="{{ img_id }}"
            class="article__list-image lazyload"
            src="{{ article.image | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ article.image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ article.title }}">
          </a>
        </div>

        {% capture img_id_mob %}ExploreArticleImageSmall-{{ article.image.id }}{% endcapture %}
        {% capture img_wrapper_id_mob %}ExploreArticleImageWrapperSmall-{{ article.image.id }}{% endcapture %}
        {%- assign img_url_mob = article.image | img_url: '142x195', crop: 'center' -%}
        
        {% include 'image-style', image: article.image, height: 400, wrapper_id: img_wrapper_id_mob, img_id: img_id_mob %}    
        
        <div id="{{ img_wrapper_id_mob }}" class="article__image-wrapper js medium-up--hide">
          <a href="{{ article.url }}" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" class="article__list-image-container">
            <img id="{{ img_id_mob }}"
            class="article__list-image lazyload"
            data-src="{{ img_url_mob }}"
            data-widths="[180, 360, 540, 720, 905]"
            data-aspectratio="{{ article.image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ article.title }}">
          </a>
        </div>
        
        <noscript>
          <p>
            <a href="{{ article.url }}">
              {{ article | img_url: '455x300', scale: 2 | img_tag: article.title }}
            </a>
          </p>
        </noscript>
        {% endif %}
        
        <div class="article__grid-meta">
          <div class="title_block">
            {% if article.published_at != blank %}
            <span class="article__date">PUBLISHED {{ article.published_at | date: "%d/%m/%Y"  }}</span>
            {% endif %}
            <h2 class="article__title h3">
              {{ article.title }}
            </h2>
          </div>
          <div class="desc_block">
            <div class="article__description">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
              {% else %}
              {{ article.content | strip_html | truncate: 140 }}
              {% endif %}
            </div>
            <a href="{{ article.url }}" class="btn btn--tertiary btn--small article__link" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
              {{ 'blogs.article.read_more' | t }}
              <svg class="article_right_arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><defs><style>.article_right_arrow .a,.article_right_arrow .b{fill:none;}.article_right_arrow .b{stroke:#242424;stroke-width:1.5px;}</style></defs><rect class="a" width="24" height="24"/><g transform="translate(4.286 5.143)"><path class="b" d="M5.439,6.66l6.305,6.305-6.6,6.6" transform="translate(4.299 -6.66)"/><path class="b" d="M5.526,13.837H21.246" transform="translate(-5.526 -7.685)"/></g></svg>
            </a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {%- endif -%}
  </div>
</section>
{% schema %}
{
  "name": "Explore Blogs",
  "class": "index-section",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Explore"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Button Label",
    "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore."
  }
  ]
}
{% endschema %}