<section class="sw__other-categories">
  <div class="page-width">
    {% unless section.settings.section_title == blank or section.settings.section_subtitle == blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.section_title }}</h2>
      {% unless section.settings.section_subtitle == blank %}
      <h5>{{ section.settings.section_subtitle }}</h5>
      {% endunless %}
    </div>
    {% endunless %}
    <div class="other_cats">
      {% for block in section.blocks %}
      <div class="oth-cat-slider">
        {% unless block.settings.theme_image == nil %}
        <img class="lazyload small--hide"
        data-src="{{ block.settings.theme_image | img_url: 'master' }}"
        data-sizes="auto"
        alt="" />
        {% endunless %}
        {% unless block.settings.theme_image_small == nil %}
        <img class="medium-up--hide lazyload"
        data-src="{{ block.settings.theme_image_small | img_url: 'master' }}"
        data-sizes="auto"
        alt="" />
        {% endunless %}
        <div class="cat-content">
          {% unless block.settings.title == blank %}
          <h4>{{ block.settings.title }}</h4>
          {% endunless %}
          {% unless block.settings.button_text == blank %}
          {% unless block.settings.button-url == blank %}
          <a href="{{ block.settings.button-url }}" class="btn btn_primary">{{ block.settings.button_text }}</a>
          {% endunless %}
          {% endunless %}
        </div>
        <a href="{{ block.settings.button-url }}" class="banner_link"></a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Starwars All Themes",
  "settings": [
  {
    "type": "text",
    "id": "section_title",
    "label": "Title",
    "default": "EXPLORE ALL OUR THEMES"
  },
  {
    "type": "text",
    "id": "section_subtitle",
    "label": "Subtitle",
    "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et"
  }
  ],
  "blocks": [
  {
    "type": "starwars-themes",
    "name": "Starwars Themes",
    "settings": [
    {
      "type": "image_picker",
      "id": "theme_image",
      "label": "Theme Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "theme_image_small",
      "label": "Theme Image (Mobile)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Theme Title",
      "default": "Theme Title"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button",
      "default": "Explore"
    },
    {
      "type": "url",
      "id": "button-url",
      "label": "Button URL"
    }
    ]
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
